<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Our Accomodations</title>
</head>
<body>
    <h1>Search Our Accomodations</h1>
    <form method="POST" action="/search">
        <table>
            <tr>
                <td>Country:</td>
                <td>
                    <select name="country" id="country" >
                        <option data-th-each="c : ${countries}" data-th-text="${c}"></option>
                    </select>
                    <!-- <span data-th-if="${#fields.hasErrors('country')}" data-th-errors="*{country}"></span> -->
                </td>
            </tr>
            <tr>
                <td>Number of person:</td>
                <td>
                    <input type="number" name="pax">
                    <!-- <span data-th-if="${#fields.hasErrors('pax')}" data-th-errors="*{pax}"></span> -->
                </td>
            </tr>
            <tr>
                <td>Price range:</td>
                <td>Min: <input type="text" name="min">
                    <!-- <span data-th-if="${#fields.hasErrors('min')}" data-th-errors="*{min}"></span> -->
                    <br>
                    Max: <input type="text" name="max">
                    <!-- <span data-th-if="${#fields.hasErrors('max')}" data-th-errors="*{max}"></span> -->
                </td>
            </tr>
            <tr>
                <td><button type="submit">Search</button></td>
            </tr>
            
        </table>
    </form>
</body>
</html>