<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Our Accomodations</title>
</head>
<body>
    <h1>Search Our Accomodations</h1>
    <form method="GET" action="/search">
        <table>
            <tr>
                <td>Country:</td>
                <td><select name="country" id="country" >
                    <option data-th-each="c : ${countries}" data-th-text="${c}"></option>
                </select></td>
            </tr>
            <tr>
                <td>Number of person:</td>
                <td><input type="number" name="pax"></td>
            </tr>
            <tr>
                <td>Price range:</td>
                <td>Min: <input type="text" name="min"><br>
                    Max: <input type="text" name="max">
                </td>
            </tr>
            <tr>
                <td><button type="submit">Search</button></td>
            </tr>
            
        </table>
    </form>
</body>
</html>